// header

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  color: white;
  z-index: 2;
  & .logo {
    width: 50px;
    height: 50px;
    background: url('~@/assets/image/logo.png') center center no-repeat;
    background-size: cover;
  }
  & .title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding-left: 30px;
  }
  & .user {
    position: fixed;
    right: 50px;
    width: 60px;
    height: 60px;
  }
  & a.userInfo {
    color: #ffffff;
    letter-spacing: 8px;
  }
}
.menuLeft {
  width: 200px;
  height: calc(100vh - 64px);
  // position: fixed;
  // left: 0;
  // top: 64px;
  & .menuBtn {
    float: right;
    margin-bottom: 20px;
  }
  &.ant-layout-sider-collapsed + main.ant-layout-content {
    width: calc(100vw - 80px);
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 64px);
  }
}
// .content {
//   // width: calc(100vw - 200px - 20px);
//   // max-width: calc(100vw - 200px - 40px);
//   // margin: 10px 0 0 10px;
//   background: #ffffff;
//   max-width: calc(100vw - 200px);
//   max-height: calc(100vh - 64px);
//   // position: absolute;
//   // left: 220px;
//   // top: 84px;
//   // overflow-x: hidden;
// }
